<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dashboard.css">
    <script src="./dashboard.js" type="module" defer></script>
    <title>Document</title>
</head>
<body>
    <h1>Nova Página.</h1>
    <button id="btn-chamado">Gerar Chamado</button>
    <table id="tb" style="width: 80%;">
        <caption>Chamados</caption>
        <tr>
            <th style="width: 50%;">Nome</th>
            <th>Assunto</th>
            <th style="width: 10%;">Status</th>
        </tr>
    </table>
</body>
</html>